body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, white 0, white 50%, #C0DA74 50%);

}


.github-button {
    background-color: #FF5A76;
    border-radius: 16px;
    border-color: #FF5A76;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 8px 24px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.principal-button {
    background-color: #C0DA74;
    color: white;
    padding: 8px;
    border: 2px solid #C0DA74;
    border-radius: 16px;
    width: 100%;
    height: 48px;
    gap: 16px;
    margin: 8px 8px 8px 0px;
    cursor: pointer;
    font-weight: 700;
}

.principal-button:hover {
    background-color: #a5be58;
}

footer {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#github-logo {
    margin: 2px;
}

#email-newsletter {
    background-color: white;
    padding: 8px 24px;
    border-radius: 16px;
    width: 256px;
    height: 36px;
    color: #CCCCCC;
}

footer.fixa-rodape{
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    padding: 48px
  }
  
  #formulario {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #imagem {
    margin: 128px 16px 16px 48px;

  }

  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
  }

  .input-field {
    width: 100%;
    height: 36px;
    border-radius: 16px;
    background-color: #F5F5F5;
    padding: 16px;
    gap: 16px;
    margin: 8px 8px 8px 0px;
  }

 input:focus {
    background: white;
    border-radius: 16px;
    border-color: #C0DA74;
    border: 5px solid ##C0DA74;
  }

  .resultado {
    background-color: #6AC2F1; 
    color: #FFFFFF99;
    padding: 8px;
    border: 2px solid ##6AC2F1;
    border-radius: 16px;
    width: 100%;
    height: 48px;
    gap: 16px;
    margin: 8px 8px 8px 0px;
    font-size: 16px;
  }

  .texto-principal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 96px 16px 16px 0px;
    gap: 32px;
    font-weight: 600;
    font-size: 20px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 16px 16px 16px 0px;
    gap: 32px;
    font-weight: 600;
    font-size: 16px;
  }

  .imagem-esteira {
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;


  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  label {
    gap: 8px;
    margin: 8px 8px 8px 0px;
    font-size: 12px;
  }
